
@{
    ViewBag.Title = "AddMembersToGroup";
    Layout = "~/Views/Shared/LayoutUser.cshtml";
}



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>


<div class="form-group">
    <form action="SaveMoment" method="post">
        <div class="alert alert-success">
        <p class="alert-success">Created Successfuly, just add your friends!</p>
        </div>
        <label for="text">Add Member Name :</label>
        <input type="text" class="form-control" id="MemberName" name="MemberName">
        <br />
        <p id="Status"></p>
        <input class="btn btn-default" id="Button1" type="button" value="Add Member" onclick="Email_Check()" />
        <button type="submit" class="btn btn-success">Save</button>
    </form>
</div>

<script>

     function Email_Check() {
        $("#Status").html("Checking...");
         $.post("@Url.Action("CheckLogInInformation", "User")",

            {
                username1: $("#MemberName").val()
            },
        function (data) {
            if (data == 1) {
                $("#Status").html('<font color="Green">Corrent User , User Has Been Added</font>');
                $("#Email").css("border-color", "Green");
            } else if (data == 0) {
                $("#Status").html('<font color="Red"> InCorrent User Name , Please Check your data</font>');
                $("#Email").css("border-color", "Red");
            }
            else if (data ==2) {
                $("#Status").html('<font color="Red">You Are already at this group</font>');
                $("#Email").css("border-color", "Red");
            }

            }
         );
    }

</script>