
@{
    ViewBag.Title = "EditGroupName";
    Layout = "~/Views/Shared/LayoutUser.cshtml";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>


<form action="EditGroupName" method="post">
    <div class="form-group">
        <center>
            <br />
            <br />
            <label for="text">Please Enter New Group Name :</label>
            <br />
            <br />
            <input class="btn btn-default" type="text" id="editgroupname" name="editgroupname" required />
            <br />
            <br />
            <input class="btn btn-primary" type="submit" value="Edit Name">
            <br />
            <br />
            @TempData["ErrorMessageEdit"]
        </center>
    </div>
</form>
