
@{
    ViewBag.Title = "EditGroubIcon";
    Layout = "~/Views/Shared/LayoutUser.cshtml";
}

@using (Html.BeginForm("EditGroupiIcon", "User", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.Label("Photo", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" name="imageModel" required class="btn btn-default" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <p>@ViewData["photo"]</p>
                <input type="submit" value="Add" class="btn btn-default" />
            </div>
        </div>
    </div>
}

