
@{
    ViewBag.Title = "GroupCreate";
    Layout = "~/Views/Shared/LayoutUser.cshtml";
}

<form action="RunCreateGroup" method="post">
    <center>
        <br /><br />
        <div class="form-group">
            <label for="text">Moment Name :</label>
            <input type="text" class="form-control" name="MomentName" required>
        </div>
        <br /><br />
        <div class="form-group">
            <label for="text">Moment Description :</label>
            <textarea rows="4" cols="50" input type="text" class="form-control" name="MomentDescription" required></textarea>
        </div>
        <b id="Status"></b>
        <input class="btn btn-primary" type="submit" value="Next">
    </center>
</form>
<br />





